<!-- Шаблон основной страницы -->

{% set title = 'Фильмы!' %}
{% set header = 'О сайте' %}

{% extends "layout.html" %}

{% block content %}

<p>
	Сайт, текст которого вы сейчас читаете — это проект одного скромного
	студента, решившего изучить flask на python, а вместе с тем выполнить
	лабораторную работу, заданную в университете, где он учится.
</p>

<p>
	Расскажу вкратце, как этот проект создавался.
</p>

<p>
	Перво-наперво было необходимо спарсить данные, которые затем
	поместить в базу данных. Жертвой парсинга был выбран сайт
	<a href='http://www.world-art.ru/' target='_blank'>World Art</a>, который отличался
	от родственников обширной базой фильмов и сериалов, простым
	интерфейсом и — очень важно — отсутствием надоедливых капч.
</p>

<p>
	За парсинг сайта отвечает папка filling, которая совместила сразу
	две функции: парсинг сайта и добавление спарсенных данных в базу
	данных mysql. Добавление осуществлялось с помощью замечательной
	библиотеки sqlalchemy. Парсинг был трудным и опасным, по ходу работ
	были созданы дополнительные классы для упрощения выполнения
	асинхронных задач (см. в репозитории py-mix на моём гитхабе).
</p>

<p>
	Наконец, парсинг был закончен, и настала пора создавать сайт.
</p>

<p>
	Минимальный каркас, затем — одна новая страница, обращение к базе
	данных для вывода первой сотни фильмов… — шаг за шагом сайт обрастал
	функциями и возможностями.
</p>

<p>
	И вот — настала торжественная минута, когда на сайте можно легко
	просматривать информацию о более чем 8000 фильмов и сериалов, искать
	по разным критерием, как то жанрам, странам, тегам или году выпуска,
	сортируя каким угодно образом! Наконец, искать по названиям фильмов.
</p>

<p>
	Сайт, хоть и маленький, в сравнении с реальными проектами,
	получился, на мой любительский взгляд, довольно милым :)
</p>

{% endblock %}
