<!-- Шаблон страницы произведения -->

{#
work:
	imgref
	name
	cntry : [ str ]
	atype
	year
	dur
	epsc
	gnrs : [ str ]
	base
	drctr
	anidea
	actrs
	score
	bscore
	voted
	tags [ (tag, score, desc) ]
#}

{% extends 'layout.html' %}

{% block content %}

<div id='work-table'>

	<div id="poster-div">
		<img id='poster' src="{{work.imgref}}" alt="Не удалось загрузить изображение">
	</div>


	<table id="chars">
		{% if work.name %}
		<tr><td id='name' colspan=2> {{ work.name }} </td></tr>
		{% endif %}

		{% if work.cntry %}
		<tr>
			<td> {{ 'Страны' if work.cntry|length > 1 else 'Страна' }} </td>
			<td>
				{% for c in work.cntry %}
				<a href="search?country={{c}}">{{c}}</a>{{ ',' if not loop.last }}
				{% endfor %}
			</td>
		</tr>
		{% endif %}

		{% if work.atype %}
		<tr>
			<td> Формат </td>
			<td> <a href="search?atype={{work.atype}}"> {{work.atype}} </a> </td>
		</tr>
		{% endif %}

		{% if work.year %}
		<tr>
			<td> Год </td>
			<td> {{ work.year }} </td>
		</tr>
		{% endif %}

		{% if work.dur %}
		<tr>
			<td> Длительность </td>
			<td> {{ work.dur }} мин. {{ '(серия)' if work.atype == 'сериал' }} </td>
		</tr>
		{% endif %}

		{% if work.epsc %}
		<tr>
			<td> Серий </td>
			<td> {{ work.epsc }} </td>
		</tr>
		{% endif %}

		{% if work.gnrs %}
		<tr>
			<td> {{ 'Жанры' if work.gnrs|length > 1 else 'Жанр' }} </td>
			<td>
				{% for g in work.gnrs %}
				<a href="search?genre={{g}}">{{g}}</a>{{ ',' if not loop.last }}
				{% endfor %}
			</td>
		</tr>
		{% endif %}

		{% if work.base %}
		<tr>
			<td> Основа </td>
			<td> <a href="search?base={{work.base}}"> {{ work.base }} </a> </td>
		</tr>
		{% endif %}

		{% if work.drctr %}
		<tr>
			<td> Режиссёр </td>
			<td> <a href="search?director={{work.drctr}}"> {{ work.drctr }} </a> </td>
		</tr>
		{% endif %}

		{% if work.anidea %}
		<tr>
			<td> Автор идеи </td>
			<td> <a href="search?idea={{work.anidea}}"> {{ work.anidea }} </a> </td>
		</tr>
		{% endif %}

		{% if work.actrs %}
		<tr>
			<td> В ролях </td>
			<td>
				{% for a in work.actrs %}
				<a href="search?actor={{a}}">{{a}}</a>{{ ',' if not loop.last }}
				{% endfor %}
			</td>
		</tr>
		{% endif %}

		{% if work.score %}
		<tr>
			<td> Средняя оценка </td>
			<td> {{ work.score }} </td>
		</tr>
		{% endif %}

		{% if work.bscore %}
		<tr>
			<td> Расчётный балл </td>
			<td> {{ work.bscore }} </td>
		</tr>
		{% endif %}

		{% if work.voted %}
		<tr>
			<td> Голосов </td>
			<td> {{ work.voted }} </td>
		</tr>
		{% endif %}


	</table>

</div>

{% if work.tags %}
<div id='tags'>
	{% for t in work.tags %}
	<a class='tag' title="{{t[2]}}" href="search?tag={{t[0]}}">{{t[0]}} <span class=score>{{t[1]}}</span></a>
	{% endfor %}
</div>
{% endif %}

<h3 id='ann-head'> Краткое содержание </h3>
<p id='ann'>
	{% if work.ann %}
	{{ work.ann }}
	{% else %}
	Отсутствует
	{% endif %}
</p>	

{% endblock %}
